@{
    var controller = ViewContext.RouteData.Values["controller"]?
           .ToString()?
           .ToLower()
           ?? String.Empty;
}


<!-- меню сайта -->
<a class="navbar-brand" asp-action="Index" asp-controller="Home">WebLabs</a>
<div class="navbar-nav">
    <a class="nav-item nav-link @(controller=="home"?"active":"")" asp-action="Index" asp-controller="Home">Лр 1</a>
    <a class="nav-item nav-link @(controller=="product"?"active":"")" asp-action="Index" asp-controller="Product">Каталог</a>
    <a asp-area="Admin" asp-page="/Index" class="nav-item nav-link">Администрирование</a>
</div>
<!-- меню сайта - конец -->
